{{#*inline "title"}}
{{chksum}} - What the src?!
{{/inline}}

{{#*inline "page"}}
<h1 class="title-chksum word-wrap">{{artifact.chksum}}</h1>

{{~#if alias}}
<div class="alias word-wrap">
<h2>Alias</h2>
<p>Detected
<a href="/artifact/{{artifact.chksum}}">canonical page</a>
for alias
{{~#if alias.reason}}
 ({{alias.reason}})
{{~/if}}
: <code>{{alias.alias_from}}</code></p>
</div>
{{/if}}

{{~#if refs}}
<h2>Build input of</h2>
<ul>
{{#each refs}}
<li class="word-wrap">
<b>{{this.display_vendor}}:</b>
{{#if this.href}}
<a href="{{this.href}}">
{{/if}}
{{this.package}}
{{this.version}}
{{~#if this.href}}
</a>
{{/if}}
{{#if this.filename}}
({{this.filename}})
{{/if}}
<a href="/artifact/{{this.chksum}}">{{this.chksum}}</a>
</li>
{{/each}}
</ul>
{{/if}}

{{#if suspecting_autotools}}
<div class="warning word-wrap">
<h3>Suspecting autotools pre-processing</h3>
<p>This archive contains both <code>./configure</code> and <code>./configure.ac</code>, suggesting it was pre-processed with autotools and is not a pristine VCS snapshot.
Source tarballs pre-processed with autotools contain machine generated shell scripts that are often thousands of lines long and notoriously difficult to review.
Instead, configure scripts should be generated on the build server during build so they don't bypass reproducible builds.</p>
</div>
{{/if}}

{{#if files}}
<h2>Content</h2>
<pre id="files">
{{files}}
</pre>
{{/if}}
{{/inline}}

{{> base.html.hbs }}
