{{#*inline "title"}}
diff {{diff_from}}:{{diff_to}} - What the src?!
{{/inline}}

{{#*inline "page"}}
<h1 class="title-chksum word-wrap">diff
{{~#if (or sorted trimmed)}}
 (
{{~#if sorted}}
sorted
{{~#if trimmed}}
,
{{else}}
)
{{/if}}
{{/if}}
{{#if (and trim_left trim_right)}}
-p1)
{{else if trim_left}}
-p1 left)
{{else if trim_right}}
-p1 right)
{{/if}}
{{/if}}
</h1>

<a href="/artifact/{{diff_from}}">diff from</a> |
<a href="/artifact/{{diff_to}}">diff to</a> |
<a href="/{{diff_toggle options ""}}/{{diff_to}}/{{diff_from}}">swap from/to</a> |

{{#if sorted}}
<a href="/{{diff_toggle options "sorted"}}/{{diff_from}}/{{diff_to}}">original order</a> |
{{else}}
<a href="/{{diff_toggle options "sorted"}}/{{diff_from}}/{{diff_to}}">sorted</a> |
{{/if}}

{{#if trimmed}}
<a href="/{{diff_toggle options "trimmed"}}/{{diff_from}}/{{diff_to}}">untrimmed</a>
{{else}}
trim
[<a href="/{{diff_toggle options "trim_left"}}/{{diff_from}}/{{diff_to}}">left</a>,
<a href="/{{diff_toggle options "trim_right"}}/{{diff_from}}/{{diff_to}}">right</a>,
<a href="/{{diff_toggle options "trimmed"}}/{{diff_from}}/{{diff_to}}">both</a>]
{{/if}}

<pre class="x-overflow">
{{diff}}
</pre>

<p>Return to <a href="/">home page</a>.</p>
{{/inline}}

{{> base.html.hbs }}
